extend master

block body
	.container-fluid.first-element
		.row
			.col
				h5.mb-0
					b= announcement.title
				-
					var datetime = moment(announcement.sentOn);
					var date = datetime.format('M/DD/YYYY');
					var time = datetime.format('h:mm A');
				p= date + ' @ ' + time 
		.row
			.col
				h5= announcement.body
