extend master
include mixins/_navbar
include mixins/_announcement

block header
	+navbar(current)

block body
	.first-element-no-gutters
		.list-group.announcements
			each announcement in announcements
				+announcement(announcement)

block scripts
	script(src='/scripts/announcements.min.js')
