extend master
include mixins/_navbar

block header
	+navbar(current)

block body
	.container-fluid.contactInfo.first-element
		.row
			.col
				h2.mb-1= contactInfo.name
				if contactInfo.email
					h5.mb-0= contactInfo.email
				if contactInfo.phone
					-
						var phone = '(' + contactInfo.phone.substr(0,3) + ') '
							+ contactInfo.phone.substr(3,3)
							+ '-' + contactInfo.phone.substr(6,4);
					h5.mb-0= phone
		.row.buttons.mt-4
			.col
				if contactInfo.phone
					a.mb-1.btn.btn-secondary(href='tel:'+contactInfo.phone style='background-color: '+headerColor) Call
				if contactInfo.phone
					a.mb-1.btn.btn-secondary(href='sms:'+contactInfo.phone style='background-color: '+headerColor) Text
				if contactInfo.email
				a.btn.btn-secondary(href='mailto:'+contactInfo.email style='background-color: '+headerColor) Email
