extend master
include mixins/_navbar
include mixins/_event

block header
	+navbar(current)

block body
	.first-element-no-gutters
		.list-group.events
			for ev in events
				+event(ev)

block scripts
	script(src='/scripts/events.min.js')
