extend master
include mixins/_map

block body
	.container-fluid.map-scroller.first-element
		.row
			.col
				-
					var datetime = moment(event.eventTime);
					var date = datetime.format('M/DD/YYYY');
					var time = datetime.format('h:mm A');
				h4.mb-0
					b= event.title
				p
					| #{event.address}
					br
					| #{date} @ #{time}
		.row
			.col
				h5
					| #{event.description}
	+map(event)

block scripts
	script(src='/scripts/map.min.js')
	script(async,defer,src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBR_wEVOMgnKyV_7tQ3I3rQV0N7bSCRwgA&callback=initMap')
