doctype html
include mixins/_titlebar

html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='icon' type='image/png' href='/images/favicon.png?v2='+encodeURI(branding))
		link(rel='stylesheet' href='/css/ionicons.min.css')
		link(rel='stylesheet' href='/css/app.min.css')
		block templates
		title= branding
	body
		-
			var backUrl = null;
			switch (current) {
				case 'event':
					backUrl = '/events';
					break;
				case 'announcement':
					backUrl = '/announcements';
					break;
			}
		+titlebar(backUrl)
		block header
		block body
		script(src='/scripts/moment.min.js')
		script(src='/scripts/jquery.min.js')
		script(src='/scripts/popper.min.js')
		script(src='/scripts/jquery.loadTemplate.min.js')
		script(src='/scripts/bootstrap.min.js')
		script(src='/scripts/notifications.min.js')
		block scripts
