block templates
	script(id='announcementTemplate' type='text/html')
		<a class="list-group-item list-group-item-action announcement">
			<div class="row">
				<div class="col">
					<h5 class="mb-0">
						<b data-content="title"></b>
					</h5>
				</div>
				<div class="col-auto">
					<div class="small align-top" data-content="date"></div>
					<div class="small align-top" data-content="time"></div>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col">
					<p class="mb-0" data-content="body"></p>
				</div>
			</div>
		</a>

mixin announcement(announcement)
	a.list-group-item.list-group-item-action.announcement(data-id=announcement._id href='/announcements/' + announcement._id)
		.row
			.col
				h5.mb-0
					b= announcement.title
			.col-auto
				-
					var datetime = moment(announcement.sentOn);
					var date = datetime.format('M/D/YYYY');
					var time = datetime.format('h:mm A');
				.small.align-top= date
				.small.align-top= time
		.row.mt-2
			.col
				-
					var limitedBody = (announcement.body.length > 100)
						? announcement.body.substr(0,100) + '...'
						: announcement.body;
				p.mb-0= limitedBody
