block templates
	script(id='eventTemplate' type='text/html')
		<a class='list-group-item list-group-item-action event'>
			<div class='row'>
				<div class='col'>
					<h5 class='mb-0'>
						<b data-content='title'></b>
					</h5>
					<p data-content='address'></p>
				</div>
			</div>
			<div class='row'>
				<div class='col'>
					<h5 class='mb-0' data-content='datetime'></h5>
				</div>
			</div>
		</a>

mixin event(ev)
	a.event.list-group-item.list-group-item-action(data-id=ev._id href='/events/' + ev._id)
		.row
			.col
				h5.mb-0
					b= ev.title
				p= ev.address
		.row
			.col
				- let eventTime = moment.utc(ev.eventTime).toDate();
				h5.timestamp.mb-0(data-datetime=eventTime.toISOString()) &nbsp;
