mixin map(event)
	.row.map.fixed-bottom.ml-1.mr-1.mb-1
		.col
			a.btn.btn-primary.directions(href='https://maps.google.com?saddr=Current+Location&daddr=' + encodeURI(event.address) target='_blank') Get Directions
			#mapContents.mb-3.contents(data-lat=event.loc.coordinates[1], data-lon=event.loc.coordinates[0])
