mixin navbar(current)
	.navbar
		.tabs.fixed-bottom
			- var announcementsActive = (current === 'announcements') ? 'active' : '';
			- var announcementsStyle = announcementsActive ? 'color: '+headerColor : '';
			a(class=announcementsActive href='/announcements' style=announcementsStyle)
				i.icon.ion-ios-chatbubbles
				|
				| Announcements
			- var eventsActive = (current === 'events') ? 'active' : '';
			- var eventsStyle = eventsActive ? 'color: '+headerColor : '';
			a(class=eventsActive href='/events')
				i.icon.ion-ios-compass
				|
				| Events
			- var contactInfoActive = (current === 'contactinfo') ? 'active' : '';
			- var contactInfoStyle = contactInfoActive ? 'color: '+headerColor : '';
			a(class=contactInfoActive href='/contactinfo')
				i.icon.ion-ios-mail
				|
				| Contact Info
