.navbar {
	padding: 0;

	.tabs {
		display: flex;
		justify-content: space-around;
		background-color: $secondaryBgColor;
		border-top: 1px solid black;

		a {
			display: block;
			width: 100%;
			color: $inactiveColor;
			font-size: 0.75rem;
			text-align: center;
			text-decoration: none;

			.icon {
				display: block;
				text-align: center;
				font-size: 32px;
			}
		}
		a.active {
			color: $primaryBgColor;
		}
	}
}
