.title {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 1.375rem;
	color: $secondaryFontColor;
	background-color: $primaryBgColor;
	z-index: 1000;

	.back {
		width: 2.5rem;
		text-align: center;
		color: $secondaryFontColor;
	}
}
