$inactiveColor: grey;
$primaryFontColor: #000;
$secondaryFontColor: #fff;
$primaryBgColor: #4075ba;
$secondaryBgColor: #fff;

$firstElement: 37px;
$firstElementNoGutter: 27px;

$navbarHeight: 67px;
$mapHeight: 150px;
